# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

hyprbar

include/xdg-shell.h
include/xdg-output-unstable-v1.h
include/wlr-layer-shell-unstable-v1.h

src/xdg-shell.c
src/xdg-output-unstable-v1.c
src/wlr-layer-shell-unstable-v1.c
